[submodule "packages/clojure-mode"]
	path = packages/clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "packages/swank-clojure"]
	path = packages/swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "packages/slime"]
	path = packages/slime
	url = git://git.boinkor.net/slime.git
[submodule "packages/clojure"]
	path = packages/clojure
	url = git://github.com/richhickey/clojure.git
[submodule "packages/clojure-contrib"]
	path = packages/clojure-contrib
	url = git://github.com/richhickey/clojure-contrib.git
